.card_container {
    margin-top: 10rem;
}

.card_presentation {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.card_presentation-boximg {
    position: relative;

    img {
        width: 600px;
        height: 400px;
    }
}

.card_presentation-boxcontent {
    margin-top: 7rem;
    position: relative;
}

.card_presentation-boxcontent h1 {
    width: 100%;
    max-width: 370px;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--blue-text01);
}

.card_presentation-boxcontent p {
    margin-bottom: 4rem;
    font-size: 1rem;
    font-weight: bold;
    max-width: 380px;
    color: var(--pink-text);
}

.card_presentation-arrow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 1rem;
    }

    100% {
        bottom: 0px;
    }
}

@media (max-width:1000px) {
    .card_presentation {
        padding: 0 10px;
    }
}

@media (max-width:900px) {
    .card_container {
        margin-top: 7rem;
    }

    .card_presentation {
        max-width: 100%;
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0rem;
    }

    .card_background {
        margin-bottom: 0;
    }

    .card_presentation-boxcontent {
        grid-row: 1;
    }

    .card_presentation-boxcontent h1 {
        max-width: 100%;
    }

    .card_presentation-boxcontent p {
        max-width: 100%;
    }

    .card_presentation-boximg {
        padding: 0 10px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .card_borderimg {
        display: none;
    }
}