.card_marketing {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}


.card_marketing h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media (max-width:1000px) {
    .card_marketing {
        padding: 0 10px;
    }
}

@media (max-width:900px) {
    .card_marketing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;
    }

    .card_marketing-info {
        margin-bottom: 2rem;
    }

    .card_marketing-img img {
        max-width: 50rem;
        padding: 0px 20px;
    }
}