.container-nav {
    background-color: var(--blue-nav-bg);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.card_nav {
    max-width: var(--max-width);
    display: flex;
    margin: auto;
    padding: 1rem 0;
    justify-content: space-between;
}

.card_nav a {
    display: flex;
    align-items: center;

    div {
        margin-left: -10px;

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 10px;
            font-weight: bold;
            color: rgb(69, 104, 220);
            color: linear-gradient(90deg, rgba(69, 104, 220, 1) 10%, rgba(135, 105, 195, 1) 42%, rgba(176, 106, 179, 1) 73%);
        }
    }
}

.card_nav a h1 {
    font-size: 2rem;
    cursor: pointer;

    span {
        font-size: 15px;
    }
}

.card_nav a:nth-child(0) {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 2rem;
    background-color: red;
}

.card_nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card_nav-link a:nth-child(1):hover {
    color: var(--blue-nav);
    animation: ease-in-out;
}

.card_nav-link a:nth-child(2) {
    background-color: #f9f9f9;
    color: #333;
    padding: 5px 1rem;
    border-radius: 3px;
}

.card_nav-link a:nth-child(2):hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--blue-nav);
    color: #fff;
}

.card_nav-menu {
    display: none;
}

@media (max-width:1000px) {
    .card_nav {
        padding: 1.5rem 10px;
    }
}

@media (max-width:900px) {
    .card_nav {
        margin-bottom: 0;
    }

    .card_nav-link {
        gap: 10px;
        font-size: 13px;
    }

    .card_nav-link a:nth-child(2) {
        padding: 5px;
    }
}