:root {
    --max-width: 1000px;

    // color
    --black: #000;
    --white: #fff;
    --blue-nav-bg: #151F42;
    --blue-nav: #1465BB;
    --blue-text01: #5A61BD;
    --blue-text02: #2196F3;
    --pink-text: #9CA2EF;
}